{% extends 'game/base.html.twig' %}

{% block background %}
    <img class="background-image" src="{{ asset('bkg2.jpg', 'images') }}" alt="Военная база">
{% endblock %}

{% block body %}
    <a href="#" class="menu-button">Меню и персонаж</a>

    <div class="hub">
        <h2 class="hub__location">Южный лагерь армии Кракожицы</h2>
        <p class="hub__datetime">День 3, утро</p>
        <p class="hub__location-description">В лагере всё спокойно. Пара человек дымит в курилке, кто-то катит в гору
            катушку кабеля. Взгляду зацепиться тут совершенно не за что.</p>
        <p class="hub__location-description">Нужно решить, что делать дальше...</p>

        <div class="hub__quests">
            <form action="/game/start-quest" method="POST">
                {% for quest in walkthrough.availableQuests %}
                    <button class="quest-start" name="quest_id" value="{{ quest.id }}">
                        <span class="quest-start__header">{{ quest.title }}</span>
                        <br><span class="quest-start__text">{{ quest.description }}</span>
                        <br><span class="quest-start__additional quest-start__additional--quest">! Линейка</span>
                    </button>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
